body {
    background-color: aliceblue;
}


.radio_1 {
    list-style: none !important;
    margin-right: 10px !important;
    padding: 10px !important;
}

.checkbox_1 {
    list-style: none !important;
    margin-right: 10px !important;
    padding: 10px !important;
}